/*styles*/

.link-unstyled:hover {
    text-decoration: none;
}

#main_slider {
    background-image: url('../images/animal.jpg');
}

#ad-jumbotron {
    background-color: #F04143;
}

#ad-jumbotron h1 {
    color: #FFF;
    font-weight: bold;
}

#ad-jumbotron h3 {
    color: #FFC721;
}

#ad-jumbotron h5 {
    color: #EDF288;
}