<footer class='text-white' style="background-color: black">
    <div class="bg-dark">
        <div class="container py-3">
            <div class="row">
                <div class="col col-12 col-md-6">
                    <h4>Lorem</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis porro ipsam explicabo doloribus. Quasi at quas vero fugiat autem pariatur ad non distinctio. Dolore, provident dolor vero cum illo doloribus?</p>
                    <p>Praesent in sapien varius, semper nisi eget, sollicitudin ligula. </p>
                </div>
                <div class="col col-12 col-md-3">
                    <h4>Ipsum</h4>
                    <ul class="list-unstyled">
                        <li>consectetur</li>
                        <li>adipisicing</li>
                        <li>dolor</li>
                    </ul>
                </div>
                <div class="col col-12 col-md-3">
                    <h4>Elti</h4>
                    <ul class="list-unstyled">
                        <li>consectetur</li>
                        <li>adipisicing</li>
                        <li>rolod</li>
                        <li>dolor</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center py-3">
        <span class="text-muted">© 2018 Copyright - </span>
        <a class="text-white" href="https://github.com/Fryzu/MakeDecision">Fryzu</a>
    </div>
</footer>