{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <h1>Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
    <div class="row">
        <div class="col col-12 col-xl-8">
            <h2>Top questions:</h1><hr>
            {% for i in object_list %}
                <a href="{{ i.get_absolute_url }}"><h3>{{ i.title }}</h3></a>
                <h4>updated: {{ i.update_date }}</h4>
                <p>{{ i.content|linebreaks|truncatechars:450 }}</p>
            {% endfor %}
        </div>
        <div class="col d-none d-xl-inline col-4">
            {% include "right_bar.html" %}
        </div>
    </div>

{% endblock content %}