{% load static %}

<a href="https://www.alfaromeousa.com/cars/giulia"><img src="{% static 'images/ad.png' %}" class="img-fluid mb-3" alt="Add"></a>

<h2 class="mb-3">Top categories</h2>
<p>
  <a class="btn btn-primary btn-sm" href="#" role="button">#Marzenkowlove</a>
  <a class="btn btn-primary btn-sm" href="#" role="button">#couplegoals</a>
  <a class="btn btn-primary btn-sm" href="#" role="button">#polishgirl</a>
</p>

<a href="https://www.alfaromeousa.com/cars/giulia"><img src="{% static 'images/ad2.jpg' %}" class="img-fluid w-100 mb-3" alt="Add"></a>