{% extends "base.html" %} {% block head_title %}User registration - {{ block.super }}{% endblock head_title %} 
{% block content %}
{% load widget_tweaks %}
<h3>Create new user account</h3><hr>

<form method="POST" action="{% url 'signup_view' %}">
    {% csrf_token %}

    {% for hidden_fields in form.hidden_fields %}
        {{ hidden_fields }}
    {% endfor %}

    {% if form.non_field_errors %}
        {% for error in non_field_errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
    {% endif %}
    
    {{ form.non_field_errors }}

    {% for field in form.visible_fields %}
        <div class="form-group">
            {{field.label_tag}}

            {% if form.is_bound %}
                {% if field.errors %}
                    {% render_field field class="form-control is-invalid" %}
                    {% for error in field.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {% render_field field class="form-control is-valid" %}
                {% endif %}
            {% else %}
                {% render_field field class="form-control" %}
            {% endif %}

            {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
        </div>
        {% if field.name == 'password2' %}
        <h4>Personal Data <small>(not required)</small></h4>
            <hr>
        {% endif %}
    {% endfor %}
    <p>By clicking "Sign up" button you acknowledge that you accept using your personal information by MakeDecision - only in terms of website logic</p>
    <button type="submit" class="btn btn-primary">Sign up</button>
</form>

<hr>
{% include "registration_ad.html" %}

{% endblock content %}